*body{
	background-image: pic.jpg;
}


.heading{
	text-align: center;
}


.discription{ 
	color: rgb(147, 48, 184);
	text-align: center;
	font-size: 30px;
	border:10px solid purple;
	padding: 10px 40px 10px 40px;
        }
#link,a{ 
	   color: rgb(48, 145, 184);
	    text-align: center;
      font-size:40px;
      font-height:1.5em;
      border: 10px rgb(48, 145, 184);

      
        }
      

          
          


