
/*this is for overall pages*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


*body{
	background-image:;
}


.heading{
	text-align: center;
}


.discription{ 
	color: rgb(147, 48, 184);
	text-align: center;
	font-size: 30px;
	border:10px solid purple;
	padding: 10px 40px 10px 40px;
        }
#link a{ 
	  
	    
      font-size:40px;
      border: 1px  solid grey;
      text-decoration:none;
      padding: 3px;


       }

/*#link a:hover{
    background-color: rgb(20, 15, 124);
     color: white;
}*/
  #link a:link{
        color: green;
       }

      /* #link a:visted{
        color: salmon;
       }*/
/*#link  a:visited{
    background-color: salmon;
}*/


















;        



         /*for the contact.css*/






 #attract
{   
	background-color: rgb(204, 139, 35);
	width: 200px;
	border: solid rgb(
238, 250, 15
);
	margin: 0 600px 0 600px;

}
.class{
	border-color: red;
}


       
      
/*for cv.css*/
   





#basic
{ background-color: rgb(204, 139, 35);
	/*coour picked from here*/
	/*https://www.google.com/search?q=colour+picker&oq=colo&aqs=chrome.0.69i59j69i57j0i19l4j69i60l2.2456j0j7&sourceid=chrome&ie=UTF-8*/
	width:40%;
	text-align: center;
	font-style: oblique;
	margin: auto;


}
#contact
{  background-color: rgb(52, 235, 189);
	/*coour picked from here*/
	/*https://www.google.com/search?q=colour+picker&oq=colo&aqs=chrome.0.69i59j69i57j0i19l4j69i60l2.2456j0j7&sourceid=chrome&ie=UTF-8*/
	color: rgb(113, 52, 235);
	width: 20%;
	
}

#education
{ background-color: rgb(204, 139, 35);
	/*coour picked from here*/
	/*https://www.google.com/search?q=colour+picker&oq=colo&aqs=chrome.0.69i59j69i57j0i19l4j69i60l2.2456j0j7&sourceid=chrome&ie=UTF-8*/

	width: 20%;
	color: rgb(119, 35, 204);
    margin: 0 500px 0px 500px;

	

}
 
#image
     { 
      height: 700px;
      width: 600px;
      margin: 30px;
     }
.sig
    {
    	color:rgb(34, 122, 163);
    	border:solid;
    	border-color: rgb(34, 122, 163);
    	border-width: 5px;
    	width: 600px;
    	margin: 20px;
    }	
          
#need
     {
     	color: white;
     	background-color: black;
     	text-align: center;

     }          
 .ok
    {
    	border: solid rgb(163, 34, 99);
    	width: 700px;
    }    

.legend
    {
    	background color: rgb(196, 149, 37); 
    }


