*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;


}
#index-body{
	background-image: url('./Photos/display.jpg');
	background-size:  cover;


	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
}

#navbar{
	display: flex;
	justify-content: space-between;
	padding: 20px 80px;
	background-color: black;
}
#navbar #logo img{
	width: 30%;
	height: 80px
}
#nav-link{
	display: flex;

	/*justify-content: space-evenly;*/

}
#nav-link li{
	list-style: none;
}
#nav-link li a{
	text-decoration: none;
	font-size: 25px;
	padding: 20px;
	color: white;
}
#showcase-header{
	color: white;
	display: flex;

	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	
	height: 90vh;
	
}
#showcase-content{
	border:1px solid red;
	width: 40%;
	height: auto;
	padding: 30px;
	line-height: 2rem;
}

#showcase-content a{ 
	text-decoration: none;
	border: 1px solid red;
	/*font-size: 20px;*/
	padding: 13px;
	color: #32a89d;
}
#showcase-content a:hover{
	background-color:#32a89d;
	color: white;
}
/*responsive code*/
/*for smart phone*/






/*this is for portfolio css*/
#container{
	display: flex;
	justify-content: center;

}
.container-1{
	border: 1px solid rgb(168, 50, 78) ;
	height: 700px;
	width: 40%;
}
#photo img{
	height: 470px;
	width: 100%;
}
.discription{
	padding: 20px;
}

 .para{
 color:#32a89d;
 padding: 20px;
 line-height: 1.5rem;
}
#placeholder{
	padding: 30px;
}


/*this is for contact*/
#contact-body{
	background: #665960;
}
#attract
{   
	
	display: flex;
	justify-content: center;
	
}
.class{
	border-color: red;
}
.form-1{
	width: 40%;
	height: 83.5vh;
	font-size: 20px;
	background-color: #f5b942;
	
	border: solid rgb(
238, 250, 15
);
	padding: 20px;
	

}
.form-1 input,.form-1 textarea{
	width: 100%;
}
.submit-btn{
	padding: 15px;
}
.submit-btn:hover{
	background-color:#32a89d;
	color: white;
}




 /*this is foer the cv*/
 #container-id{
 	background: #665960;
 	line-height: 1.8rem;
 }
#container-cv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	width: auto;
	text-align: center;

}
.cv-img{
	background-image: url('./Photos/rob.jpg');
	background-size: cover;
	height: 300px;
	width: 300px;
	border:1px solid red;
	/*border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;*/
	border-radius: 100px;


}
#cv-discription{
	font-size: 20px;
	line-height: 1.5rem;
}
#cv-background{
	display:flex;
	justify-content: space-around;
}
.contact-cv{
	/*background-color: #32a89d;*/
	color:white;
	padding: 2px;
	height: 300px;
	width: 300px;
	border:1px solid transparent;
	margin-top: 82px;
}
li{
	list-style: none;
}



/*this is for the hemberg*/
#toggle-icon{
	background-color: white;
	display: none;
	width: 30px;

}
#hemberg{
	display: none;
}




/*this is for responsive */
    @media (max-width:625px){
	 #logo , #nav-link {
		display: none;

		
	} 
	#toggle-icon{
		display: block;
	}

	
	#showcase-content{
		width: 90%;
		
	}
	#container{
		display: flex;
		flex-direction: column;

	
	}
	.container-1{
		
		height: 750px;
		width: 100%;
	}
	#photo img{
		height: 470px;
		width: 100%;
	}


	/* contact.html */

	.form-1{
		width: 100%;
		height:auto;
		
	
	}

	/* cv */

	#cv-background{
		display:flex;
		flex-direction: column;
	}

	.contact-cv{
		background-color: #32a89d;
		color:white;
		padding: 20px 0;
		height: auto;
		width: 100%;
		
		margin-top: 2px;
		text-align: center;
	}
	#navbar{
		padding: 0;
	}

	#nav-link {
		
		border: 1px solid white;
		width: 100%;
		height: 100vh;
		position: fixed;
		background-color: grey;
		
		/* flex-direction: column; */
		/*justify-content: center;
		align-items: center;*/


	}
	#nav-link li {
		text-align: center;
		border-bottom: 1px solid red;
		font-size: 15px;
	padding: 20px;
	}
   
	 #hemberg:checked + div{
		display: block;
		
	} 
	

}
    
